:root {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.05em;
  color: #292929;
}

h1 {
  font-weight: normal;
}

body {
  margin: 0;
  background-color: #f2f2f2;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  background-color: white;
  padding: 1rem;
  width: 100vw;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

header > label[for="in-sidebar-floating"] {
  all: unset;
  margin-right: 3em;
  width: 2rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

@media only screen and (min-width: 701px) {
  header > label[for="in-sidebar-floating"] {
    display: none;
  }
}

header > label[for="in-sidebar-floating"] > hr {
  all: unset;
  width: 100%;
  border-top: solid 1px black;
}

header > a.company-logo > img {
  height: 100%;
}

input#in-sidebar-floating:checked ~ nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

nav#sidebar {
  position: fixed;
  top: 3.5rem;
  width: 16rem;
  height: calc(100vh - 3.5rem);
  z-index: 2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #292929;
}

@media only screen and (max-width: 700px) {
  nav#sidebar {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

nav#sidebar > ul {
  position: relative;
  margin: 0;
  width: 100%;
  padding: 3rem 1rem;
}

nav#sidebar > ul > li {
  list-style-type: none;
  padding: 1rem 2rem;
}

nav#sidebar > ul > li > a {
  color: white;
  text-decoration: none;
}

nav#sidebar > ul > li:hover > a {
  position: relative;
}

nav#sidebar > ul > li:hover > a:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  border-bottom: 2px solid white;
  bottom: -0.5rem;
  left: 0;
}

nav#sidebar > footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
  color: whitesmoke;
  font-size: 0.8rem;
  padding: 0.5rem 0;
  border-top: 1px solid #434343;
}

main {
  position: absolute;
  top: 3.5rem;
  padding: 2rem 3rem;
}

@media only screen and (max-width: 700px) {
  main {
    width: 100vw;
  }
}

@media only screen and (min-width: 701px) {
  main {
    position: absolute;
    right: 0;
    width: calc(100vw - 16rem);
  }
}

main > form > fieldset > div.content {
  display: -ms-grid;
  display: grid;
  gap: 1rem 2rem;
}

@media only screen and (max-width: 700px) {
  main > form > fieldset > div.content {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
}

main > form > fieldset > div.content div.input-text > {
  width: 100%;
}

main > form > fieldset#fdset-user-type > div.content {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

main > form > fieldset#fdset-user-contact > div.content {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

main > form > section#section-form-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

main > form > section#section-form-btns > button {
  max-width: 20rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  margin: 0.5rem 1rem;
}

main > form:invalid button[type="submit"] {
  -webkit-filter: contrast(50%);
          filter: contrast(50%);
}

.expandable > input[type="checkbox"]:checked ~ label > hr {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.expandable > input[type="checkbox"]:checked ~ div.content {
  height: unset;
  padding: 2rem 2rem;
}

.expandable > label {
  padding: 1.5rem 2rem;
  background-color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.1rem;
}

.expandable > label > hr {
  all: unset;
  width: 1rem;
  border-top: solid 2px #292929;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.expandable > div.content {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  background-color: white;
  padding: 0rem 2rem;
}

div.input-checkbox > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
  position: relative;
}

div.input-checkbox > label > input {
  visibility: hidden;
  position: absolute;
}

div.input-checkbox > label > input:checked ~ div {
  background-color: #19beff;
  border-color: #00b7ff;
}

div.input-checkbox > label > input:checked ~ div > svg {
  display: block;
}

div.input-checkbox > label > input:checked ~ span {
  font-weight: bold;
}

div.input-checkbox > label > div {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.1rem;
  border: 0.1rem solid;
  border-color: #e6e6e6;
  position: relative;
  background-color: #f2f2f2;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

div.input-checkbox > label > div > svg {
  width: 65%;
  position: absolute;
  left: 50%;
  top: 50%;
  fill: white;
  display: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

div.input-checkbox > label > span {
  margin-left: 0.5em;
}

div.input-checkbox > label:hover > div, div.input-checkbox > label:focus > div {
  border-color: #4cccff !important;
}

div.input-text {
  padding: 0;
  padding-top: 1rem;
  display: inline-block;
  position: relative;
  width: 100%;
}

div.input-text > input {
  border: none;
  border-bottom: 2px solid #c2c2c2;
  padding: 0.7rem 0.5rem;
  width: 100%;
  font-size: 1rem;
  color: #292929;
}

div.input-text > input:invalid:not(:focus) {
  border-color: red;
}

div.input-text > input:invalid:not(:focus) ~ label.description {
  color: red;
}

div.input-text > input:invalid:not(:focus) ~ label.invalid {
  display: block;
}

div.input-text > input:not(:placeholder-shown) ~ label.description, div.input-text > input:focus ~ label.description {
  top: 0;
  left: 0;
}

div.input-text > input:focus {
  outline: none;
  border-color: #19beff;
}

div.input-text > input:focus ~ label.description {
  color: #19beff;
}

div.input-text > input::-webkit-input-placeholder {
  opacity: 0;
}

div.input-text > label.description {
  position: absolute;
  color: #767676;
  cursor: text;
  font-weight: bold;
  top: 2rem;
  left: 0;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

div.input-text > label.invalid {
  display: none;
  color: red;
}

fieldset {
  all: unset;
  display: block;
}

button {
  cursor: pointer;
  font-family: sans-serif;
}

button:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

button:disabled {
  -webkit-filter: contrast(50%);
          filter: contrast(50%);
}

button.btn-lg {
  padding: 1rem 1rem;
  font-size: 1rem;
}

button.btn-primary {
  border: none;
  border-radius: 1e10px;
  background-color: #19beff;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

button.btn-secondary {
  border: 1px solid #e6e6e6;
  border-radius: 1e10px;
  background-color: white;
  color: #434343;
  font-weight: 600;
  text-transform: capitalize;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=index.css.map */